@import url("https://fonts.googleapis.com/css?family=Roboto");

@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abel&family=Black+Ops+One&family=Bungee+Shade&family=Covered+By+Your+Grace&family=Nunito+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400&family=Oswald:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Abel";
	color: white;
}

a {
	color: white;
}
